.gray {
  background-color: #eee;
}

.item {
  display: inline-block;
  width: 180px;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;

  &.footer {
    align-items: center;
  }

  .item {
    max-width: 140px;
  }

  .btn {
    height: 50px;
  }
}
